<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order confirmation</title>
</head>

<body>
    <p>Hello!</p>

    <p>Here's what you ordered "<%= order._id %>"</p>

    <p>Order Date: <%= order.date %>
            <p>Order Name: <%= order.name %>
                    <p>Order Price: <%= order.price %>
</body>

</html>