<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Reply Notification</title>
</head>

<body>
    <p>Hello <%= name %>!</p>

    <p>A new reply has been added to your question in the video "<%= tittle %>"</p>

    <p>Please login to our website to view the reply and continue the discussion</p>
</body>

</html>